<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ブログ記事</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <%- include('partials/header.ejs') %>

    <main>
      <article class="post">
        <h2>
          <%= blog.title %>
        </h2>
        <p>公開日: <%= blog.formattedCreatedAt %>
        </p>
        <p>
          <%- sanitizedContentHtml %>
            <%# contentHtml %>
        </p>
      </article>

      <div class="post-controls">
        <% if(isAuthor){ %>
          <a href="/blogs/edit/<%= blog.id %>" class="btn">記事を編集</a>
          <form action="/blogs/delete" method="post">
            <input type="hidden" id="blogId" name="blogId" value="<%= blog.id %>">
            <button type="submit" class="btn">記事を削除</button>
          </form>
          <%}%>
            <a href="/blogs" class="btn">ホームに戻る</a>
      </div>
    </main>

    <%- include('partials/footer.ejs') %>
</body>

</html>